# Distribution / packaging
.Python
build/
wheels/
dist/
matplotcheck.egg-info/
*.egg
.idea
.pytest_cache/
__pycache__/
.DS_Store
pip-wheel-metadata/
*.pyc


# Sphinx documentation
docs/_build/
docs/gallery_vignettes/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# mkdocs documentation
/site
