# Distribution / packaging
.Python
build/
wheels/
*.egg
.idea
.pytest_cache/
__pycache__/


# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# mkdocs documentation
/site
