bumpversion==0.6.0
sphinx_rtd_theme==0.5.2
sphinx_gallery==0.8.2
sphinx-autobuild==2021.3.14
pytest-vcr==1.0.2
pytest-cov==2.11.1
codecov==2.1.11
pytest==6.2.3
setuptools==54.2.0
pre-commit==2.11.1
pip==21.1
descartes==1.1.0
seaborn>=0.9.1
pillow==8.2.0
