bumpversion==0.6.0
sphinx_rtd_theme==0.5.0
sphinx_gallery==0.8.1
sphinx-autobuild==2020.9.1
pytest-vcr==1.0.2
pytest-cov==2.10.1
codecov==2.1.10
pytest==6.1.2
setuptools==50.1.0
pre-commit==2.8.1
pip==20.2.4
descartes==1.1.0
seaborn>=0.9.1
pillow==8.0.1
