bumpversion==0.5.3
sphinx==2.0.0
sphinx-autobuild==0.7.1
sphinx_rtd_theme==0.4.3
pytest==4.6.2
pytest-cov
pytest-vcr
m2r
codecov==2.0.15
sphinx_gallery
pre-commit==1.17.0
setuptools==40.8.0
pip==19.0.3
